.home-products-container{
    background-color: #fff1ff;
    padding: 25px;
    margin-top: 40px;
}
.home-products{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.home-products h2{
    text-align: center;
}
.home-products h2 .head{
    padding: 15px 10px;
    position: relative;
}
.home-products h2 .line{
    position: absolute;
    width: 100%;
    background-color: var(--chocolate);
    height: 2px;
    left: 0;
    bottom: 0;
    transform: scalex(0.4);
}
.home-products-container .display{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}
.home-products-container .display img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.home-products-container .display .product-img{
    position: relative;
}
.home-products-container .display .product-img .overlay{
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.home-products-container .display .product-img .overlay:hover{
    opacity: 1;
}
.home-products-container .display .product-img .icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--chocolate);
    cursor: pointer;
}
.home-products .details{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.home-products .details span{
    text-transform: capitalize;
}
.home-products .details span.price{
    color: var(--chocolate);
    text-transform: none;
}