*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s;
    color: var(--black);
}
:root{
    --white: #fff;
    --black: #222;
    --shade: #040e2c;
    --chocolate: #a06841;
    --darkchocolate: #c4afa2;
    --lightchocolate: #f3ebe5;
    --lightshade: #f1efea;
    --darkshade: #666;
    --red: #dc143c;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
h1,
h2,
h3,
h4,
h5{
    letter-spacing: 2px;
    color: var(--shade) !important;
    text-transform: capitalize;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
@media screen and (min-width: 992px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 18px;
    }
}